[submodule "project1"]
	path = project1
	url = https://github.com/samanthagatt/Million-Hairs.git
[submodule "project2"]
	path = project2
	url = https://github.com/samanthagatt/JSON-Poll.git
[submodule "project3"]
	path = project3
	url = https://github.com/samanthagatt/Routing.git
